.wrapper {
	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: 70px auto 80px;
	background: var(--main-bg);
	min-height: 100vh;
}
.mainContent {
	overflow-x: hidden;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}
.navbar {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
/* .webplayer {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	z-index: 1;
} */

@media screen and (max-width: 1120px) {
	.wrapper {
		display: initial;
	}
}
