.container {
	padding: 2rem;
}
.itemContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	gap: 20px;
	row-gap: 20px;
}

@media screen and (max-width: 1120px) {
	.container {
		padding-bottom: 150px;
	}
}
