.itemContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 20px;
	row-gap: 20px;
}

@media screen and (max-width: 1120px) {
	.itemContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
