.wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	min-width: 250px;
	background-color: var(--true-black);
	padding-top: 24px;
	padding-left: 1rem;
	padding-right: 1rem;
	overflow-y: hidden;
}
.sidebarElement {
	padding: 1rem;
	transition: color 300ms;
}
.sidebarElement:hover {
	color: #fff;
}
.icon {
	margin-right: 1rem;
}
.sidebarElement a {
	padding: 0;
	margin: 0;
}
.playlistsWrapper {
	height: 100%;
	overflow-y: scroll;
	position: absolute;
}
.playlistElement {
	padding: 0.5rem 1rem;
	cursor: default;
	user-select: none;
	transition: color 300ms;
}
.playlistElement:hover {
	color: #fff;
}
.playlistsWrapper::-webkit-scrollbar {
	width: 0;
}
.playlistsWrapper::-webkit-scrollbar-thumb {
	background-color: var(--black-light);
	border-radius: 0.25em;
}

.logo {
}

@media screen and (max-width: 1120px) {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		min-width: 100%;
		min-height: 70px;
		padding: 0;
		z-index: 1;
		background: linear-gradient(#ffffff00 0%, #000);
	}
	.wrapper hr {
		display: none;
	}
	.wrapper .logo {
		display: none;
	}
	.sidebarElement {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 0.75rem;
		padding: 0.5rem;
		min-width: 85px;
	}
	.icon {
		margin: 0 0 5px 0;
	}
	.playlistsWrapper {
		display: none;
	}
}
