:root {
	--main-bg: linear-gradient(
		180deg,
		rgba(33, 33, 33, 1) 0%,
		rgba(18, 18, 18, 1) 100%
	);
	--black: #191414;
	--black-trans: #191414d3;
	--black-trans-light: #292424d3;
	--green: #1db954;
	--green-light: #2ec362;
	--white: #fff;
	--muted: #c0c0c0;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	background-color: var(--black);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
