.container {
	padding: 2rem;
}
.itemContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 20px;
	row-gap: 20px;
}
.card {
	flex-grow: 1;
	position: relative;
	border-radius: 0.5em;
	overflow: hidden;
	cursor: pointer;
	transition: transform 100ms ease-in;
}
.card:hover {
	transform: scale(1.05);
	filter: drop-shadow(0 5px 8px var(--black));
}
.title {
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 10px;
}
