/* Font Size */
.textLg {
	font-size: 2rem;
}
.textMd {
	font-size: 1.5rem;
}
.textSm {
	font-size: 0.75rem;
}
/* Font Color */
.textWhite {
	color: var(--white);
}
.textMuted {
	color: var(--muted);
}
/* Font Weight */
.textBold {
	font-weight: bold;
}
/* Buttons */
.btn {
	padding: 0.75rem;
	border: none;
	border-radius: 0.25em;
	background-color: var(--green);
	color: var(--white);
	font-weight: bold;
	cursor: pointer;
}
